/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  @Styles: Sections Variables - Global Consumption

  mainly colors and shared numbers
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --black:            #000000;
  --brand-color:      #29f9de;
  --dark-gray:        #3a3a3a;
  --font-color:       #0f0f0f;
  --gray:             #c2c3c4;
  --highlight-color:  #f5842e;
  --nav-link-color:   #4a2154;
  --off-black:        #0f0f0f;
  --orange:           #f5842e;
  --purple:           #4a2154;
  --white:            #FFFFFF;
}
