:root {
  --brand-color:  #29f9de;
  --primary-color:  #0f0f0f;
  --nav-link-color: #4a2154;
  --black:          #000000;
  --off-black:      #0f0f0f;
  --white:          #FFFFFF;
  --gray:           #c2c3c4;
  --dark-gray:      #3a3a3a;
  --orange:         #f5842e;
}
