/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––—————————————
  @Section: Typography - Global Consumption
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––————————————— */
h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  background: url('../../images/bg-section.png') repeat 0 0;
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 4rem;
  padding: 1rem 0 0.6rem 2rem;
  text-transform: capitalize;
  // letter-spacing: 1px;
  word-spacing: 0.125em;

  @media screen and (max-width: 768px) {
    padding-left: 1rem;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0;
  text-transform: uppercase;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-style: oblique;
  font-weight: 200
}

h6 {
  font-size: 1rem;
  font-style: normal;
  text-transform: uppercase;
}

// p {}

hr {
  border-color: var(--brand-color);
}
