header {
  display: flex;
  flex-direction: row;
  grid-area: header;
  height: 126px;
  justify-content: flex-start;
  padding-top: 0.25rem;

  @media screen and (max-width: 768px) {
    padding-top: 1rem;
  }

  a {
    display: inline-flex;
    align-self: start;
  }

  .tff-logo {
    display: inline-flex;
    width: 170px;
    margin: 61px 0 0 -44px;
  }

  h1 {
    align-self: end;
    color: var(--black);
    margin-left: -50px;
    text-shadow: 0 0 2px var(--white), 0 0 16px var(--orange), -1px -1px 48px var(--orange), 1px 1px 48px var(--orange);

    span {
      display: block;
      font-size: 1.25rem;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
