<h2 id="contact">resources</h2>
<section class="contact-sect">
  <p>Links to useful resources: "How-to's", "cheat sheets", documents, and generators. The best we've happened upon.</p>
  <ul>
    <li><a href="https://untools.co/" target="_blank">UnTools</a></li>
    <li><a href="http://fillerama.io/" target="_blank">Fillerama: A welcome and fun substitute for placeholder content, aka "Lorem Ipsum".</a></li>
    <li><a href="https://www.cssmatic.com/" target="_blank">CSSmatic: CSS Tools</a></li>
    <li><a href="https://html-css-js.com/" target="_blank">HTML-CSS-JS: Tips, tricks, tutorials…</a></li>
    <li><a href="https://www.symbolcopy.com/" target="_blank">Symbols galore!</a></li>
    <li><a href="https://placekitten.com/" target="_blank">Image placeholders…of kittens.</a></li>
    <li><a href="https://makepixelart.com/" target="_blank">Pixel Art Editor</a></li>
  </ul>
</section>
