nav {
  display: flex;
  flex-direction: row;

  ul {
    list-style: none;

    li {
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 1.5rem;
      margin-left: -22px;
      position: relative;
      text-align: center;
      rotate: 25deg;
      width: 210px;

      a {
        color: var(--off-black);
        cursor: pointer;
        display: block;
        font-weight: 700;
        padding: 1rem 0 0.75rem;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          text-decoration: underline;
        }
      }

      &:first-child {
        background-image: url('../../assets/images/btn-about.png');
      }

      &:nth-child(2) {
        background-image: url('../../assets/images/btn-work.png');
      }

      &:last-child {
        background-image: url('../../assets/images/btn-contact.png');
      }
    }
  }
}
