/* –––———––––––––––––––––––––––––––––––––––––––––––––––––––––––
  @Styles: "Navigation" Section
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  position: fixed;
  display: flex;
  flex-direction: row;

  ul {
    list-style: none;

    li {
      background-image: url('../../assets/images/cta-about.png');
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 1.5rem;
      margin-left: -22px;
      position: relative;
      text-align: center;
      rotate: 25deg;
      width: 210px;
      top: 0;
      left: 0;
      transition: all 0.4s ease-in-out;

      &.active {
        top: 1.125rem;
        left: 2.25rem;
      }

      a {
        color: var(--off-black);
        cursor: pointer;
        display: block;
        font-weight: 700;
        padding: 1rem 0 0.75rem;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          text-decoration: underline;
        }
      }

      &:first-child {
        background-image: url('../../assets/images/cta-about.png');
        margin-top: 0;
      }

      &:nth-child(2) {
        background-image: url('../../assets/images/cta-work.png');
      }

      &:last-child {
        background-image: url('../../assets/images/cta-contact.png');
      }
    }
  }
}
