/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––————————————————
  @Section: Logo Carousel — Global Consumption
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––————————————— */
.logo-carousel {
  padding: 1rem 1.5rem;

  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem 12%;

    li {
      list-style: none;
      width: 16%;
      margin: 0;

      img {
        display: block;
        width: 100%;
        margin: 0;
      }
    }
  }
}
