<main>
  <div class="wrapper" role="main">
    <app-header class="header"></app-header>
    <aside app-nav class="nav"></aside>

    <!--
      TO DO: Let's make a section for games and fun apps. Start
      researching games that are built with JavaScript. Maybe also
      include info like pokemon stats, star wars, what else can we
      include… Batman? Do some research.
    -->

    <div class="content">
      <app-about-section></app-about-section>
      <app-portfolio-section></app-portfolio-section>
      <app-contact-section></app-contact-section>
    </div>
    <app-footer class="footer"></app-footer>
  </div>
</main>
