<main>
  <div class="wrapper" role="main">
    <app-header class="header"></app-header>
    <app-nav class="nav"></app-nav>

    <!--
      TO-DO: Make a section for games and fun/useful apps. Start researching
      games that are built with JavaScript. Maybe also include info like
      pokemon stats, star wars, what else can we include …Batman? DC?
      Perhaps start off with a bit of research.
    -->

    <div class="content">
      <app-about-section></app-about-section>
      <app-portfolio-section></app-portfolio-section>
      <app-contact-section></app-contact-section>
    </div>
    <app-footer class="footer"></app-footer>
  </div>
</main>
