<h2 id="contact">contact</h2>

<section class="contact-sect">
  <div class="card">
    <p>
      Questions?
      <a href="mailto:info@frontendforge.com" data-text="click-here">click here</a>.
    </p>
    <p>
      Looking to build your own website?
      Email us at <a href="mailto:info@frontendforge.com" data-text="email info@frontendforge.com">info@frontendforge.com</a>.
    </p>
    <p>
      We'll happily answer any questions you might have about next steps or where to start.
    </p>
  </div>

  <h3>Additional Services</h3>

  <div class="card">
    <ul>
      <li><strong>Free Estimates:</strong> With a few details about your project, several price points and options can be laid out. Starting the conversation with a clear breakdown that outlines the entire process will help. With over fifteen years of experience providing bids to businesses of all sizes, We're confident we can provide you with enough information to make a decision you're comfortably. Get started without any further delays!</li>
      <li><strong>Consultations:</strong> We're pretty easy going and will offer our recommendations. But please, be reasonable and respectful of our time as well.</li>
      <li><strong>Troubleshooting Assistance:</strong> New to web development and just cannot figure out an issue? Sometimes a fresh pair of eyes, or simply describing the problem to someone else will reveal the solution. We're here to listen.</li>
    </ul>
  </div>
</section>
