<h2 id="contact">contact</h2>

<section class="contact-sect">
  <div class="card">
    <p>
      Questions?
      <a href="mailto:zzaichik.17@gmail.com" data-text="click-here">click here</a>.
      Looking to build your own website?
      <a href="mailto:zzaichik.17@gmail.com" data-text="email me">email me</a>.
      I'd be happy to answer any questions you might have.
    </p>
  </div>

  <h3>Additional Services</h3>

  <div class="card">
    <ul>
      <li><strong>Free Estimates:</strong> Contact us with the details regarding the work you're wanting to get done and we will calculate several cost points depending on how much you want to manage, if you'd benefit from a content management system, if a monthly retainer would be necessary, and much more. We just need to get the conversation starting as soon as possible. Don't delay - it'll never get done.</li>
      <li><strong>Consultations:</strong> We're pretty easy going with this and will try to help or offer some free advice if we have the time. But please, be reasonable.</li>
      <li><strong>Troubleshooting Assistance:</strong> New to front-end development and just cannot figure out that one bug? Sometimes a fresh pair of eyes or simply describing the problem to someone else will cause the solution to show itself. If not, we can probably take a look.</li>
    </ul>
  </div>
</section>
