/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  @Section: Portfolio
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
p {}

a {
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: var(--highlight-color);
  }
}
