<h3 id="portfolio">portfolio: a gallery of work</h3>
<section class="portfolio-sect">
  <!-- TODO: map over all portfolio pieces -->
  <div class="card">
    <div class="logos">
      <ul>
        <li><img src="./assets/images/logo-arbys.png" alt="Arby's"></li>
        <li><img src="./assets/images/logo-campbells.png" alt="Campbell's Soup"></li>
        <li><img src="./assets/images/logo-prego.png" alt="Prego"></li>
        <li><img src="./assets/images/logo-rain.png" alt="Rain Agency"></li>
        <li><img src="./assets/images/logo-swanson.png" alt="Swanson"></li>
        <li><img src="./assets/images/logo-v8.png" alt="V8"></li>
        <li><img src="./assets/images/logo-sofi.svg" alt="SoFi"></li>
        <li><img src="./assets/images/logo-my529.svg" alt="my529"></li>
        <li><img src="./assets/images/logo-auch.png" alt="AUCH"></li>
        <li><img src="./assets/images/logo-ifit.svg" alt="iFit"></li>
      </ul>
    </div>
  </div>

  <div class="card" style="margin-top: 6rem;">
    <h1 style="text-align: center;">A few of the companies we've worked with over the years.</h1>
  </div>

  <div class="card light">
    <a href="https://www.authorjmoore.com">www.authorjmoore.com</a>
    <p>Custom WordPress theme built from the ground up. Languages: HTML, CSS/Sass, JavaScript, PHP, CMS</p>
    <p>Luckily, I had a good friend that happens to be like, a pro, staff-level Graphic Designer handle all of the graphic design work.</p>
    <p>With Mocks in hand, I engineered a new WordPress theme with styles to match the mocks; all browser and devise tested - Ready To Go.</p>
    <p>I actually got quite good at creating new, up-to-date WordPress themes. And now, they even have another feature, and I totally forgot what the hell I was thinking about.</p>
  </div>

  <div class="card">
    <h2>
      <a href="https://www.observepoint.com/" target="_blank">
        www.observepoint.com
      </a>
    </h2>
  </div>

  <div class="card">
    <h2>
      <a href="https://tynielsen.github.io/for-every-occasion" target="_blank">www.For-Every-Occasion.com</a>
    </h2>

    <!-- <p>Pretty basic setup, they didn't want anything fancy. Just a way to show off their work and bring in new clients. Fun little bare-bones website.</p> -->
  </div>

  <div class="card">
    <h2>
      <a href="https://tynielsen.github.io/vital/">Yulia Vital</a>
    </h2>
  </div>

  <div class="card">
    <h2>
      <a href="https://layrite.com/">Layrite</a>
    </h2>
  </div>

  <div class="card">
    <h2>
      <a href="https://hydrostudios.com/usga">United States Golf Association</a>
    </h2>
  </div>
</section>

