.logos {

  ul {
    align-items: center;
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem 5%;
    // justify-content: space-between;

    li {
      width: 20%;

      img {
        display: block;
        max-width: 100%;
      }
    }
  }
}
