<h3 id="portfolio">portfolio: a gallery of work</h3>
<section class="portfolio-sect">
  <!-- TODO: map over all portfolio pieces -->
  <div class="card">
    <div class="logos">
      <ul>
        <li><img src="./assets/images/logo-arbys.png" alt="Arby's"></li>
        <li><img src="./assets/images/logo-campbells.png" alt="Campbell's Soup"></li>
        <li><img src="./assets/images/logo-prego.png" alt="Prego"></li>
        <li><img src="./assets/images/logo-rain.png" alt="Rain Agency"></li>
        <li><img src="./assets/images/logo-swanson.png" alt="Swanson"></li>
        <li><img src="./assets/images/logo-v8.png" alt="V8"></li>
        <li><img src="./assets/images/logo-sofi.svg" alt="SoFi"></li>
        <li><img src="./assets/images/logo-my529.svg" alt="my529"></li>
        <li><img src="./assets/images/logo-auch.png" alt="AUCH"></li>
      </ul>
    </div>
  </div>

  <div class="card">
    <h4>Burritos.com</h4>
    <p>This is where we'll showcase a bunch of websites and software we've worked on over the years. It'll probably consist of a thumbnail image of the home page or landing page, followed by the name, tech-stack, and URL.</p>
    <p>We'll have to come up with an awesome way to display this content.</p>
    <p>Filler text.</p>
    <p>Filler text.</p>
  </div>

  <div class="card">
    <h4>AndMoreBurritos.com</h4>
    <p>This is where we'll showcase a bunch of websites and software we've worked on over the years. It'll probably consist of a thumbnail image of the home page or landing page, followed by the name, tech-stack, and URL.</p>
    <p>We'll have to come up with an awesome way to display this content.</p>
    <p>Filler text.</p>
    <p>Filler text.</p>
  </div>

  <div class="card">
    <h4>AndEvenMoreBurritosToCome.com</h4>
    <p>This is where we'll showcase a bunch of websites and software we've worked on over the years. It'll probably consist of a thumbnail image of the home page or landing page, followed by the name, tech-stack, and URL.</p>
    <p>We'll have to come up with an awesome way to display this content.</p>
    <p>Filler text.</p>
    <p>Filler text.</p>
  </div>
</section>
