/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  @Styles: "About" Section
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.logo-carousel {

  ul {
    gap: 1.5rem 5%;

    li {
      width: 16%;
    }
  }
}
