<h2 id="about">about</h2>

<section class="about-section">
  <p>We are experienced, professional Web Architects/Developers/Designers/Engineers, and all things web.</p>
  <p>But our true passion is creating beautiful, bespoke websites, tailored to fit your needs. We take great pride in delivering high-quality solutions, which we achieve by utilizing the latest trends and updates in the tech industry.</p>
  <p>All our work undergoes a thorough quality assurance process, ensuring it looks and behaves as expected on all modern browsers and devices before delivery. And we're always available if you should ever need help or want to tweak it.</p>
  <p>Our home office is based out of Utah but our clientele span from coast to coast.</p>
</section>
