<h2 id="about">About Black Rabbit Developer's Frontend Forge</h2>

<section class="about-section">
  <h3>Web Development Is In Our Genetic Code</h3>
  <div class="card">
    <p>You have just stumbled across a vast wealth of knowledge and experience working with The World Wide Web, or as the kids like to call it: "The Web" or "The Internets/Interweb". The Frontend Forge are comprised of dedicated and experienced Web Architects, Developers, DevOps Engineers, and IT Professionals with over a decade of experience.</p>
    <p>Our true passion lies in creating bespoke web content, beautiful and tailored to fit your needs. This is accomplished by utilizing the latest trends in technology ensuring your content is optimized for consumption in the digital age we live in. We take great pride in delivering high-quality solutions to share your content with the world.</p>
    <p>All of The Frontend Forge's work undergoes a rigorous Quality Assurance process safeguarding it from issues with privacy and confirming the user interface (UI) is bug-free. Testing is done across all modern browsers and devices before deploying anything, the codebase is minimized for improved security and much faster load times/connectivity. But just in case, support is available 24/7.</p>
    <p>The Frontend Forge is based out of The United States, Utah, but our clientele spans across the globe and our set up is fully remote. The Frontend Forge is accessible from anywhere, anytime.</p>
  </div>

  <h3>Tech-Stack</h3>
  <div class="card">
    <h4>A few of our favorite computer programming languages, frameworks, applications, services, methodologies, technologies, etc. that we've worked with over the years.</h4>
    <p>The top couple of rows are what we excel the most in; the experience and knowledge possessed in the first dozen is advanced. (Hover over the logo if it isn't recognized.)</p>

    <div class="logo-carousel">
      <ul>
        <li><img title="JavaScript" src="./assets/images/icon-javascript.svg" alt="JavaScript"></li>
        <li><img title="HTML5" src="./assets/images/icon-html5.svg" alt="HTML5"></li>
        <li><img title="CSS3" src="./assets/images/icon-css3.svg" alt="CSS3"></li>
        <li><img title="JSON" src="./assets/images/icon-json.svg" alt="JSON"></li>
        <li><img title="Angular" src="./assets/images/icon-angular.svg" alt="Angular"></li>
        <li><img title="React JS" src="./assets/images/icon-react.svg" alt="React JS"></li>

        <li><img title="git" src="./assets/images/icon-git.svg" alt="git"></li>
        <li><img title="GitHub" src="./assets/images/icon-github.svg" alt="GitHub"></li>
        <li><img title="Sass CSS" src="./assets/images/icon-sass.svg" alt="Sass CSS"></li>
        <li><img title="Visual Studio(VS) Code" src="./assets/images/icon-vscode.svg" alt="Visual Studio Code"></li>

        <li><img title="Jest" src="./assets/images/icon-jest.svg" alt="Jest"></li>
        <li><img title="TypeScript" src="./assets/images/icon-typescript.svg" alt="TypeScript"></li>
        <li><img title="jQuery" src="./assets/images/icon-jquery.svg" alt="jQuery"></li>

        <li><img title="WordPress" src="./assets/images/icon-wordpress.svg" alt="WordPress"></li>
        <li><img title="Vue JS" src="./assets/images/icon-vuejs.svg" alt="Vue JS"></li>
        <li><img title="T3-Stack: TypeScript, Tailwind, tRPC" src="./assets/images/icon-t3.svg" alt="T3-Stack, TypeScript, tRPC, Tailwind"></li>
        <li><img title="JSON 5" src="./assets/images/icon-json-5.svg" alt="JSON 5"></li>

        <li><img title="ESLint" src="./assets/images/icon-eslint.svg" alt="ESLint"></li>
        <li><img title="Prettier" src="./assets/images/icon-prettier.svg" alt="Prettier"></li>

        <li><img title="Atlassian" src="./assets/images/icon-atlassian.svg" alt="Atlassian"></li>
        <li><img title="Confluence" src="./assets/images/icon-confluence.svg" alt="Confluence"></li>
        <li><img title="BitBucket" src="./assets/images/icon-bitbucket.svg" alt="BitBucket"></li>
        <li><img title="Jira" src="./assets/images/icon-jira.svg" alt="Jira"></li>

        <li><img title="Tailwind CSS" src="./assets/images/icon-tailwind-css.svg" alt="Tailwind CSS"></li>
        <li><img title="Less CSS" src="./assets/images/icon-less.svg" alt="Less CSS"></li>
        <li><img title="ECMAScript" src="./assets/images/icon-ecmascript-international.svg" alt="ECMAScript"></li>

        <li><img title="Vercel" src="./assets/images/icon-vercel.svg" alt="Vercel"></li>
        <li><img title="PHP" src="./assets/images/icon-php.svg" alt="PHP"></li>

        <li><img title="Material UI" src="./assets/images/icon-material-ui.svg" alt="Material UI"></li>
        <li><img title="Bootstrap" src="./assets/images/icon-bootstrap.svg" alt="Bootstrap"></li>

        <li><img title="Redux" src="./assets/images/icon-redux.svg" alt="Redux"></li>
        <li><img title="Next JS" src="./assets/images/icon-nextjs.svg" alt="Next JS"></li>
        <li><img title="Node JS" src="./assets/images/icon-nodejs.svg" alt="Node JS"></li>
        <li><img title="NPM" src="./assets/images/icon-npm.svg" alt="NPM"></li>

        <li><img title="Grunt" src="./assets/images/icon-grunt.svg" alt="Grunt"></li>
        <li><img title="Planet Scale" src="./assets/images/icon-planet-scale.svg" alt="Planet Scale"></li>
        <li><img title="NX" src="./assets/images/icon-nx.svg" alt="NX"></li>
        <li><img title="Prisma" src="./assets/images/icon-prisma.svg" alt="Prisma"></li>

        <li><img title="Sublime Text" src="./assets/images/icon-sublime-text.svg" alt="Sublime Text"></li>
        <li><img title="Adobe" src="./assets/images/icon-adobe.svg" alt="Adobe"></li>
        <li><img title="Apple" src="./assets/images/icon-apple.svg" alt="Apple"></li>
        <li><img title="Docker" src="./assets/images/icon-docker.svg" alt="Docker"></li>
      </ul>
    </div>

    <p>…wow, that adds up quick. To summarize, HTML, CSS, and JavaScript: Everything a growing web presence needs.</p>
    <p>TL;DR:<br>We're flexible, experienced, and we'll listen. Then recommend the tech-stack that will best suit your needs. If you have something in mind; if there's some tech you've worked with before or an existing project that needs to be updated or finished, let's create <em>YOUR</em> brand the way you envision it!</p>
  </div>
</section>
