<h2 id="about">about</h2>

<section class="about-section">
  <div class="card">
    <p>We are experienced, professional Web Architects/Developers/Designers/Engineers, and all things web.</p>
    <p>But our true passion is creating beautiful, bespoke websites, tailored to fit your needs. We take great pride in delivering high-quality solutions, which we achieve by utilizing the latest trends and updates in the tech industry.</p>
    <p>All our work undergoes a thorough quality assurance process, ensuring it looks and behaves as expected on all modern browsers and devices before delivery. And we're always available if you should ever need help or want to tweak it.</p>
    <p>Our home office is based out of Utah but our clientele span from coast to coast.</p>
  </div>

  <h3>Tech-Stack!</h3>
  <div class="card">
    <h4>Just a few of our favorite frameworks, languages, and 3rd party apps.</h4>
    <div class="logo-carousel">
      <ul>
        <li class=""><img src="./assets/images/icon-javascript.svg" alt="JavaScript"></li>
        <li class=""><img src="./assets/images/icon-angular.svg" alt="Angular"></li>
        <li class=""><img src="./assets/images/icon-react.svg" alt="React JS"></li>
        <li class=""><img src="./assets/images/icon-vscode.svg" alt="Visual Studio Code"></li>
        <li class=""><img src="./assets/images/icon-html5.svg" alt="HTML5"></li>
        <li class=""><img src="./assets/images/icon-css3.svg" alt="CSS3"></li>
        <li class=""><img src="./assets/images/icon-git.svg" alt="git"></li>
        <li class=""><img src="./assets/images/icon-typescript.svg" alt="TypeScript"></li>
        <li class=""><img src="./assets/images/icon-sass.svg" alt="Sass CSS"></li>
        <li class=""><img src="./assets/images/icon-less.svg" alt="Less CSS"></li>
        <li class=""><img src="./assets/images/icon-json-5.svg" alt="JSON 5"></li>
        <li class=""><img src="./assets/images/icon-github.svg" alt="GitHub"></li>
        <li class=""><img src="./assets/images/icon-nodejs.svg" alt="Node JS"></li>
        <li class=""><img src="./assets/images/icon-npm.svg" alt="NPM"></li>
        <li class=""><img src="./assets/images/icon-prettier.svg" alt="Prettier"></li>
        <li class=""><img src="./assets/images/icon-adobe.svg" alt="Adobe"></li>
        <li class=""><img src="./assets/images/icon-atlassian.svg" alt="Atlassian"></li>
        <li class=""><img src="./assets/images/icon-confluence.svg" alt="Confluence"></li>
        <li class=""><img src="./assets/images/icon-bitbucket.svg" alt="BitBucket"></li>
        <li class=""><img src="./assets/images/icon-jira.svg" alt="Jira"></li>
        <li class=""><img src="./assets/images/icon-t3.svg" alt="T3-Stack, TypeScript, tRPC, Tailwind"></li>
        <li class=""><img src="./assets/images/icon-material-ui.svg" alt="Material UI"></li>
        <li class=""><img src="./assets/images/icon-tailwind-css.svg" alt="Tailwind CSS"></li>
        <li class=""><img src="./assets/images/icon-vuejs.svg" alt="Vue JS"></li>
        <li class=""><img src="./assets/images/icon-json.svg" alt="JSON"></li>
        <li class=""><img src="./assets/images/icon-eslint.svg" alt="ESLint"></li>
        <li class=""><img src="./assets/images/icon-apple.svg" alt="Apple"></li>
        <li class=""><img src="./assets/images/icon-nextjs.svg" alt="Next JS"></li>
        <li class=""><img src="./assets/images/icon-jquery.svg" alt="jQuery"></li>
        <li class=""><img src="./assets/images/icon-jest.svg" alt="Jest"></li>
        <li class=""><img src="./assets/images/icon-docker.svg" alt="Docker"></li>
        <li class=""><img src="./assets/images/icon-grunt.svg" alt="Grunt"></li>
        <li class=""><img src="./assets/images/icon-php.svg" alt="PHP"></li>
        <li class=""><img src="./assets/images/icon-prisma.svg" alt="Prisma"></li>
        <li class=""><img src="./assets/images/icon-redux.svg" alt="Redux"></li>
        <li class=""><img src="./assets/images/icon-bootstrap.svg" alt="Bootstrap"></li>
        <li class=""><img src="./assets/images/icon-wordpress.svg" alt="WordPress"></li>
        <li class=""><img src="./assets/images/icon-sublime-text.svg" alt="Sublime Text"></li>
        <li class=""><img src="./assets/images/icon-vercel.svg" alt="Vercel"></li>
        <li class=""><img src="./assets/images/icon-planet-scale.svg" alt="Planet Scale"></li>
      </ul>
    </div>
  </div>
</section>
