// @use "./breakpoints";
// @use "./mixins";
@use "./helpers/themes";
@use "./helpers/variables";

/* ronin styles */
:host {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--off-black);
  background-image: url('/assets/img/bg-img-cobwebs.png'),
                    url('/assets/img/bg-img.png');
  background-repeat:  no-repeat,
                      no-repeat;
  background-position:  center 0,
                        center 0;
  background-size:  100%,
                    auto;
  background-attachment:  fixed,
                          scroll;
  color: var(--primary-color);
  font-family: 'Anybody', sans-serif;
  line-height: 1.3125;
}

a,
a:link,
a:visited {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.wrapper {
  background: url('/assets/img/bg-main-content.png') repeat center 156px;
  background-attachment: fixed;
  max-width: 1100px;
  margin: 0 auto 0;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas:
    "header header header header"
    "nav main main main"
    "footer footer footer footer";
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.nav {
  grid-area: nav;
}

.content {
  grid-area: main;
  max-width: 960px;
  margin-top: 3rem;
}

/* section: about, portfolio, projects, contact shared styles*/
h3 {
  background: url('/assets/img/bg-section.png') repeat 0 0;
  line-height: 1;
  margin-top: 2rem;
  padding: 1rem 0 1rem 3rem;
}

section {
  background: url('/assets/img/bg-section.png') repeat 0 0;
  margin-top: 1rem;
  padding: 1.5rem 3rem;
}
