/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––————————————————
  @Section: All partial, variable, and mixin sass files go here
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––————————————— */
// @use "./breakpoints";
// @use "./mixins";
@use 'sass:color';
@use "./helpers/themes";
@use "./helpers/variables";
@use "./components/sections";
@use "./components/typography";
@use "./components/logo-carousel";

/**
  ronin styles
——————————————————— */
::selection {
  background-color: #f5842e70;
}

:host {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-attachment:  fixed, scroll;
  background-color: var(--off-black);
  background-image: url('../images/bg-img-cobwebs.png'), url('../images/bg-alt.jpg');
  background-position:  center 0;
  background-repeat:  no-repeat;
  background-size:  100%;
  color: var(--primary-color);
  font-family: 'Anybody', sans-serif;
  line-height: 1.55;
  letter-spacing: 0.25px;
}

a,
a:link,
a:visited {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.wrapper {
  background: url('../images/bg-main-content.png') no-repeat center 156px;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-template-rows: 126px calc(100% - 126px);
  grid-template-areas:
    "header header header header"
    "nav main main main"
    "footer footer footer footer";
  margin: 0 auto 0;
  max-width: 1100px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 100%;
    grid-template-areas: "header" "main" "footer";
    padding: 0 1rem;
  }
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.nav {
  grid-area: nav;
  margin-top: 5.25rem;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.content {
  grid-area: main;
  max-width: 960px;
  margin-top: 3.75rem;

  @media screen and (max-width: 768px) {
    margin-top: 3rem;
  }
}
